# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/

# PyCharm
.idea/
.idea_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Data files (optional: ignore backups or temp files in data/)
data/*.db
data/*.sqlite3

# Logs
*.log

# Ignore generated website files (optional, falls du index.html/style.css nicht versionieren willst)
# index.html
# style.css
